
@model Web.ViewModels.Demo.Form_M


@Html.ContentsFor(o => o._TestContentFile, "测试内容系统文件上传")

<hr/>

@Html.Input2For(o => o.TestChar, " 我是Char型")


@Html.InputArea2For(o => o.TestString, "我是(宽400，高200)只读多行文本", 400, 200, true)





@Html.InputFor(o => o.TestChar, " 我是Char型")

@Html.InputFor(o => o.TestInt, " 我是Int型")

@Html.InputFor(o => o.TestFloat, " 我是Float型")

@Html.InputFor(o => o.TestDouble, " 我是Double型")

@Html.InputFor(o => o._TestReadOnly, "我不可以被编辑", true)

@Html.SelectFor(o => o._TestReadOnly, Model._TestItems)

@Html.SelectFor(o => o._TestReadOnly, Model._TestItems, "我是只读单选框", true)

@Html.InputAreaFor(o => o.TestString, "我是多行文本")

@Html.InputAreaFor(o => o.TestString, "我是(宽400，高200)只读多行文本", 400, 200, true)

@Html.TimeFor(o => o.TestDateTime, "我是时间")

@Html.RichBoxFor(o => o.TestRichText, "我是富文本")


<a id="active-upload">上传照片(可隐藏)</a>
<div id="uploadPhoto">
    @Html.FileFor(o => o.TestFile, "/UserFiles/Test/")
</div>
<script>
    function OnUploadFinish(filePath) {
        $('#uploadPhoto').hide();
        alert("文件上传成功" + filePath);
    };

    $().ready(function () {
        $('#uploadPhoto').hide();
        $('#active-upload').click(function () {
            $('#uploadPhoto').show();
        });
    });
</script>



@*@Html.FileFor(o => o.TestFile, "/UserFiles/Test/", "我是文件上传")

       <script>
           function OnUploadFinish(filePath) {
               alert("文件上传成功" + filePath);
           };

    </script>*@


<hr />


