@{
    Layout = "/Areas/Contents/Views/Shared/_MyLayOut.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新建/编辑表格</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="~/Content/EasyTable/jquery.edittable.css" rel="stylesheet" />
    <script src="~/Content/EasyTable/jquery.myeasytable.js"></script>
    @*<link href="~/Content/EasyTable/main.css" rel="stylesheet" />*@
    <script src="~/Content/EasyTable/addEditPageOP.js"></script>

    <script src="~/Include/KindEditor/kindeditor-all-min.js"></script>
    <script src="~/Include/KindEditor/lang/zh-CN.js"></script>
</head>
<body>
    <input type="hidden" id="tablelie" name="tablelie" value='@ViewBag.Tablelie' />
    <input type="hidden" id="tabletype" name="tabletype" value='@ViewBag.Tabletype' />
    <input type="hidden" id="tablevalue" name="tablevalue" value='@ViewBag.Tablevalue' />
    <input type="hidden" id="tableName" name="tableName" value='@ViewBag.Tablename' />
    <input type="hidden" id="tableID" name="tableID" value='@ViewBag.TableID' />
    <input type="hidden" id="relationKey" name="relationKey" value='@ViewBag.RelationKey' />

    <p>
        <span class="label label-info">文件保存路径（若有文件，请填写此项）</span><input type="text" id="fileurl" name="fileurl" value="L:\\hooyes\\Files\\" class="form-control" style="width:30%" />
    </p>

    <div id="addedit_table">
        <span class="label label-info">编辑内容数据</span>
        <div id="addedittable"></div>
        <input type="hidden" id="tableid" name="tableid" value="" />
        @*<a href="#" class="sendjson button" id="Json_addedit">提交</a>*@
        <a href="#" class="btn btn-success" id="Json_saveaddedit">保存</a>
        @*<a href="#" class="sendjson button" id="sendJson_default">放弃编辑</a>*@
        @*<a href="#" class="loadjson button" id="loadJson">Load JSON from textarea</a>*@
        <a href='/Contents/Home2/TableDataList?tableid=@ViewBag.TableID' class="btn btn-warning" id="backtoList">返回上一级</a>
    </div>


</body>
</html>
