@{
    var ShowSaveButton = (bool) ViewData["ShowSaveButton"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"]</title>
    <!--css core-->
    @Html.Partial("_src_css_sb2")
    @RenderSection("css", required: false)
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
     
        @*<div id="page-wrapper">*@
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">@ViewData["Title"] <button class="btn btn-primary back" onclick="back()"> 上一级</button></h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

                <div class="col-md-12">
                    <div class="col-md-6">
                        <!-- BEGIN SAMPLE FORM PORTLET-->
                        <div class="portlet ">
                            <div class="portlet-body form">
                                <form class="form-horizontal" method="POST" role="form">
                                    <div class="form-body">
                                        @RenderBody()
                                    </div>
                                    <div class="form-actions fluid">
                                        <div class="col-md-offset-3 col-md-9">
                                            @if (ShowSaveButton)
                                        {
                                        <button type="submit" class="btn btn-success">保存</button>
                                        }

                                            <button type="button" class="btn btn-default back">返回</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    @if (!Html.ValidationSummary().ToString().Contains("display:none"))
                {
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">输入不合要求，请按下面的提示修改：</h3>
                        </div>
                        <div class="panel-body">
                            @Html.ValidationSummary()
                        </div>
                    </div>
                </div>
                }

                </div>

            </div>
            
        @*</div>*@
        <!-- /#page-wrapper -->
    </div>
    <!--js core-->
    @Html.Partial("_src_js_sb2")
    @RenderSection("scripts", required: false)
</body>
</html>

