@model Web.ViewModels.Login_M
@{
    Layout = "";
}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>登录</title>
    <!-- @(ViewData["ex"]??"")   -->
    <link href="~/Content/Acounnt/css/css.css" rel="stylesheet" />

    <script type="text/javascript">
  window.onload = function () {
       var container = document.getElementById('containter');
       var list = document.getElementById('list');
       var buttons = document.getElementById('buttons').getElementsByTagName('span');
       var prev = document.getElementById('prev');
       var next = document.getElementById('next');
       var index = 1;

       function showButton() {
            for (var i = 0; i < buttons.length; i++) {
                if (buttons[i].className == 'on') {
                     buttons[i].className = '';
                }
            }
            buttons[index - 1].className = 'on';

       }

       function animate(offset){
           var newleft =parseInt(list.style.left) + offset;

           list.style.left = newleft + 'px';
           if (newleft > -500) {list.style.left = -1500 + 'px';}
           if (newleft < -1500) {list.style.left = -500 + 'px';}



       }


       next.onclick = function () {
               if (index ==3 ) {
                   index = 1;
               }
               else {
                 index += 1;
               }
               showButton();
               animate(-500);

       }

       prev.onclick = function () {
               if (index ==1 ) {
                   index = 3;
               }
               else {
                 index -= 1;
               }

               showButton();
               animate(+500);
       }

       for (var i = 0; i < buttons.length; i++) {
         buttons[i].onclick = function () {
              if (this.className == 'on') {return;}
              var myIndex = parseInt(this.getAttribute('index'));
              var offset = -500 * (myIndex - index);
              index = myIndex;
              animate(offset);
              showButton();
         }
       }
  }

    </script>
    <script>
function AddFavorite(title,url){
    try {
        window.external.addFavorite(url, title);
    }
catch(e){
 try{
    window.sidebar.addPanel(title,url,"");
  }
 catch(e){
   alert("\n\n请使用快捷键Ctrl+D进行添加！");
   }
 }
}

    </script>
 <script language="JavaScript"> 
function toDesktop(sUrl,sName){ 
try 
{ 
var WshShell = new ActiveXObject("WScript.Shell"); 
var oUrlLink = WshShell.CreateShortcut(WshShell.SpecialFolders("Desktop") + "\\" + sName + ".url"); 
oUrlLink.TargetPath = sUrl; 
oUrlLink.Save(); 
} 
catch(e) 
{ 
    alert("请把下载的文件放至桌面！");
    location.href = "/UserFiles/Contents/趣学 .exe";
} 
} 
</script> 

</head>
<body>

    <div class="part1" style="background:white;">
        <div class="left">
            <p><img src="~/Content/Acounnt/img/logo.png" style="width:450px"/></p>
        </div>
        <div class="middle">
            <p></p>
        </div>
       
        <div class="right">
            @*<div id="righttop" >*@
                <div><p align="center"><img src="@Model.AppPicUrl" style="width:100px;" /><br />趣学APP</p></div>
                <div><p align="center"><img src="@Model.WeiXinPicUrl" style="width:100px;" /><br />扫一扫关注</p></div>
            @*</div>*@
         
        </div>
    </div>

    @*<hr class="pc-hr">*@
    
    <div class="part2">
         <div class="left">
            @*<div id="container">*@
                <!-- 最外层部分 -->
                @*<div id="list" style="left:-500px;">*@
                    <!-- 轮播部分 -->
                   
                    @*<img src="~/Content/Acounnt/img/photo.png" style="width:500px; height:400px;" >
                    <img src="~/Content/Acounnt/img/photo.png" style="width:500px; height:400px;">
                    <img src="~/Content/Acounnt/img/photo.png" style="width:500px; height:400px;">
                    <img src="~/Content/Acounnt/img/photo.png" style="width:500px; height:400px;">
                    <img src="~/Content/Acounnt/img/photo.png" style="width:500px; height:400px;">

                </div>
                <div id="buttons">
                    <span index="1" class="on"></span>
                    <span index="2" class=""></span>
                    <span index="3" class=""></span>
                    
                </div>
                <a href="javascript:;" id="prev" class="arrow"><</a>
                <a href="javascript:;" id="next" class="arrow">></a>
            </div>*@
          </div>
  
          <div class="middle">
            <p></p>
          </div>

          <div class="right">
            <form method="post" action="/Acount/Login">


                <div class="border1">
                    <div class="form-group">

                        @Html.TextBoxFor(o => o.UserId, new { @class = "form-controls", autofocus = "autofocus", placeholder = "登录名" })


                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(o => o.UserPsw, new { @class = "form-controls", placeholder = "登录密码", })

                    </div>

                    <div class="form-group">
                        @Html.ValidationSummary()
                    </div>
                    <div class="checkboxs">
                        <label>
                            <input name="remember" type="checkbox" value="Remember Me"> 记住密码
                        </label>
                        @*<a href="">忘记密码？</a>*@
                    </div>
                    <!-- Change this to a button or input when using this as a form -->
                    <button type="submit" class="btns btns-lg btns-success btns-block">登&nbsp;录</button>
                </div>
            </form>
         </div>

    </div>
  

    <div class="part3" >
        <p>
         <a href="@Model.AppUrl">趣学App</a> 
        | <a href="http://Qxamoy.com">趣学软件</a>  
        | <a href="#">关于我们</a> 
        | <a href="#">服务协议</a> 
        | <a href="#">联系邮箱</a>
        | <a href="#" onClick="toDesktop('http://djk.scsxxt.com', '趣学软件管理系统')">放至桌面</a> 
        | <a href="javascript:void(0);" onclick="AddFavorite('趣学软件管理系统', 'http://djk.scsxxt.com')">收藏本站</a><br /><br />
         Copyright © 2016-2017 趣学软件版权所有</p>
    </div>
</body>
</html>



