@model Web.ViewModels.Regist_M
@{
   // Layout = ViewData["Layout"].ToString();
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">新会员注册</h3>
                </div>
                <div class="panel-body">
                    <form role="form"  method="POST" >
                        <fieldset>
                            <div class="form-group">
                                @Html.TextBoxFor(o => o.UserId, new
                                {
                                    @class = "form-control",
                                    placeholder = "登录名",
                                    autofocus = "autofocus"
                                })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(o => o.NickName, new
                           {
                               @class = "form-control",
                               placeholder = "昵称"

                           })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(o => o.UserPsw, new
                           {
                               @class = "form-control",
                               placeholder = "密码"
                           })
                               
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(o => o.UserPsw2, new
                           {
                               @class = "form-control",
                               placeholder = "重复密码"
                           })
                            </div>
                          
                            <div class="form-group">
                                @Html.TextBoxFor(o => o.Email, new
                                {
                                    @class = "form-control",
                                    placeholder = "邮箱(可选)",
                                
                                })
                            </div>

                            <div class="form-group">
                                @Html.TextBoxFor(o => o.Phone, new
                           {
                               @class = "form-control",
                               placeholder = "手机(可选)"

                           })
                            </div>


                            <div class="form-group">
                                @Html.ValidationSummary()
                            </div>


                            <div class="form-group">
                                @Html.CheckBoxFor(o => o.Agreen, new
                           {
                               @class = "checkbox",
                               placeholder = "同意服务协议",
                              
                           })
                            </div>

                      
                            <!-- Change this to a button or input when using this as a form -->
                            <button type="submit" class="btn btn-lg btn-success btn-block">登陆</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

